<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Info-Release.plist
   individual-sns-app

   Created by taichi nishimura on R 8/03/28.
   Copyright (c) 8 Reiwa ___ORGANIZATIONNAME___. All rights reserved.
-->
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>投稿に写真を添付するために、写真へのアクセスが必要です。</string>
</dict>
</plist>
